.navbar-collapse.collapseMini.collapse{
	display:block; margin:0; padding:0;
	width:900px; float:left; margin-top:-36px;
	}
.navbar-collapse.collapseMini.collapse ul{
	width: auto; float: right; margin:0; padding:0;
	}
.navbar-collapse.collapseMini.collapse ul li{
	float: right;
	position:relative;
	}
.navbar-toggle.pull-right{
	display:none;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul ul{
	margin-top:20px;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul ul.sub-menu{
	margin-right:-400px;
	padding:20px;
	width:800px;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul li + li + li ul.sub-menu{
	margin-right:-250px;
	width:500px;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul li + li + li + li ul.sub-menu{
	margin-right:-100px;
	width:200px;
	}
#contactusadd .contactright ul li{}
.contactright .contactaddress{background:url(../images/contactaddress.png) no-repeat right 50% !important;}
.contactright .contactphone{ background:url(../images/contactphone.png) no-repeat right 50% !important;}
.contactright .contactfax{ background:url(../images/contactfax.png) no-repeat right 50% !important;}
.inner_banner_background{ height:400px !important;/* background-size: 100% 100% !important;*/ background-repeat:no-repeat !important;}
.contactmobileslider{ display:none;}