.navbar-collapse.collapseMini.collapse{
	display:block; margin:0; padding:0;
	width:900px; float:left; margin-top:-36px;
	}
.navbar-collapse.collapseMini.collapse ul{
	width: auto; float: right; margin:0; padding:0;
	}
.navbar-collapse.collapseMini.collapse ul li{
	float: right;
	position:relative;
	}
.navbar-toggle.pull-right{
	display:none;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul ul{
	margin-top:20px;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul ul.sub-menu{
	margin-right:-400px;
	padding:20px;
	width:800px;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul li + li + li ul.sub-menu{
	margin-right:-250px;
	width:500px;
	}
.navbar-collapse.collapseMini.collapse .menu-main-menu-container ul li + li + li + li ul.sub-menu{
	margin-right:-100px;
	width:200px;
	}
#contactusadd .contactright ul li{}
.contactright .contactaddress{background:url(../images/contactaddress.png) no-repeat right 50% !important;}
.contactright .contactphone{ background:url(../images/contactphone.png) no-repeat right 50% !important;}
.contactright .contactfax{ background:url(../images/contactfax.png) no-repeat right 50% !important;}
.inner_banner_background{ height:400px !important;/* background-size: 100% 100% !important;*/ background-repeat:no-repeat !important;}
.contactmobileslider{ display:none;}


/*----------------------------CSS ADDED BY MANISH-------------------------------------*/
.IE8 .overviewBoxes .row .twoBox {
    border-width: 15px;
    padding: 5px;
    width: 39.5%;
    display: table-cell;
    float: none;
}

.IE8 .overviewBoxes .row .tblBox{    background-color: #f9f9fa;
    border: 20px solid #ffffff;
    /* display: table-cell; */
    float: left;
    height: auto;
    padding: 0 0 60px;
    position: relative;
    vertical-align: top;
}
.IE8 .overviewBoxes .fourBoxSmallSpace .fourBox{    border: 5px solid #ffffff;}
.IE8 .overviewBoxes .thumbnail {
    background: #f9f9fa none repeat scroll 0 0;
    border: 0 none;
    float: left;
    padding: 0;
    width: 100%;
}
.IE8 #emirates-previous .thumbnail {
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 5px 8px #d4d4d4;
    float: left;
    margin-bottom: 34px;
    padding: 22px 11px 27px;
    position: relative;
    width: 100%;
}